.header {
  padding: 12px 0;
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  &__title {
    font-size: getRemFromPx(16);
  }

  &__img {
    display: inline-block;
    height: getRemFromPx(20);
    width: getRemFromPx(20);
    opacity: 0.5;
  }
}