.shake {
  animation: shake .1s 5;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(5px);
  }
}

.blink {
  animation: blink 0.5s infinite;
}

@keyframes blink {
  50% {
    background: rgba(62, 203, 255, 0.3);
  }
}

.strobe {
  transform-origin: bottom;
  animation: strobeStart .5s ease-out, strobe 1s infinite;
  animation-delay: 0s, .5s;
}

@keyframes strobeStart {
  0% {
    transform: skew(0deg, 0deg) scaleY(1);
    animation-timing-function: ease-in;
  }

  40% {
    transform: skew(0deg, 0deg) scaleY(.9);
    animation-timing-function: ease-out;
  }

  100% {
    transform: skew(4deg, 0deg) scaleX(1);
  }
}

@keyframes strobe {
  0% {
    transform: skew(4deg, 0deg) scaleX(1);
  }

  10% {
    transform: skew(1deg, 0deg) scaleY(.9);
  }

  50% {
    transform: skew(-4deg, 0deg) scaleX(1);
  }

  60% {
    transform: skew(-1deg, 0deg) scaleY(.9);
  }

  100% {
    transform: skew(4deg, 0deg) scaleX(1);
  }
}

.clean {
  animation: cleanme .2s 1;
  transform: translateY(-600px);
}

@keyframes cleanme {
  0% {
    transform: translateY(0px) rotate3d(0, 0, 0, 0deg);
  }

  100% {
    transform: translateY(-600px) rotate3d(0, 0, 0, 0deg);
  }
}

.enterpressed {
  animation: enterpress .1s 1;
}

@keyframes enterpress {
  50% {
    border-width: 1px 1px 2px 1px;
    top: 12px;
  }
}
