body {
  background: #2e2a23;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, .3);

  &.lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;

  @media (max-width: getEmFromPx($breakpoint1024)),
  (max-height: getEmFromPx($breakpoint768)) {
    overflow-y: auto;
  }
}

.container {
  max-width: ($containerWidth + $containerPaddingDefault) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 ($containerSidePaddingDefault + px);
}