.checkmark {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 13px;
  opacity: .2;
  border: solid 3px white;
  border-width: 0 3px 3px 0;
  transform: rotate(40deg);

  &_size_big {
    width: 12px;
    height: 20px;
    border-width: 0 4px 4px 0;
  }

  &_completed {
    opacity: .55;
    border-color: #4cbb4a;

    &_hint {
      opacity: .55;
      border-color: #dbcf24;
    }
  }
}
