.editor {
  display: flex;
  margin: 0 auto;
  border: solid 10px rgba(0, 0, 0, .35);
  border-radius: 4px;
  font-family: var(--fontFamilyMenlo);
  font-size: getRemFromPx(14);
  line-height: math.div(21, 14);

  &__panel {
    flex: 0 0 50%;
  }

  @media (max-width: getEmFromPx($breakpoint768)) {
    flex-direction: column;
  }
}
