.editor-panel {

  &_dark {
    border-right: solid 1px rgba(255, 255, 255, .03);
    border-bottom: solid 1px rgba(255, 255, 255, .03);

    @media (max-width: getEmFromPx($breakpoint768)) {
      border-left: solid 1px rgba(255, 255, 255, .03);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: rgba(0, 0, 0, .15);
    border-top: solid 1px rgba(255, 255, 255, .05);
    border-bottom: solid 1px rgba(255, 255, 255, .05);
    border-radius: 2px 2px 0 0;
    color: rgba(255, 255, 255, .6);
  }

  &__filename {
    opacity: 0.5;
  }

  &__window {
    display: flex;
  }

  &__lines {
    flex: 0 0 auto;
    padding: 10px;
    text-align: right;
    color: #999;
    background: #DDD;

    &_dark {
      color: #666;
      border-right: solid 1px #333;
      background: rgba(0, 0, 0, .3);
    }
  }

  &__workspace {
    position: relative;
    background: #efefef;
    color: #AAA;
    flex: 1 0 auto;
    padding: 10px;

    &_dark {
      background: rgba(0, 0, 0, .3);
    }
  }

  &__enter-btn {
    z-index: 1;
  }

  &__input {
    position: absolute;
    z-index: 100;
    opacity: 0;
    border: none;
    width: calc(100% - 70px);
  }

  &__selectors-block {
    position: absolute;
    top: 10px;
    left: 12px;
    font-family: inherit;
    font-size: inherit;
    color: #333;
    border: none;
    background: transparent;
    width: calc(100% - 70px);
    height: 21px;
  }

  &__text {
    position: absolute;
    top: 31px;
  }
}
