.game-ui {

  &__order {
    color: rgba(255, 255, 255, .3);
    font-size: getRemFromPx(32);
    font-weight: var(--fw-400);
    text-align: center;
    margin-bottom: 20px;
  }

  &__hint {
    margin-bottom: 39px;
  }

  &__game {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__editor {
    width: 95%;
  }
}