.help-block {

  &__title {
    display: flex;
    gap: 8px;
    font-size: 25px;
    font-weight: var(--fw-600);
    color: #777;
    margin-bottom: 10px;
  }

  &__title-text {
    margin-bottom: 10px;
  }

  &__checkmark {
    margin-left: 8px;
    top: -3px;
  }

  &__navigation {
    position: absolute;
    top: 18px;
    right: 60px;
    font-size: 0;
  }

  &__level-progress {
    width: 100%;
    margin-bottom: 30px;
  }
}
