.info-text {
  color: #888;
  font-size: 15px;
  line-height: math.div(24, 15);

  &__strong {
    color: #AAA;
    background: rgba(255, 255, 255, .1);
    padding: 3px 6px 3px 6px;
    margin: 0px 2px;
    font-size: 13px;
    font-family: var(--fontFamilyMenlo);
    font-weight: var(--fw-400);
  }
}
