.info {

  &__title {
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: var(--fw-600);
    color: #ffffff99;
  }

  &__subtitle {
    font-size: 18px;
    margin: 0 0 15px 0;
    font-weight: var(--fw-300);
  }

  &__level-name {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: var(--fw-200);
    margin-bottom: 18px;
    display: inline-block;
    padding: 5px 8px;
    border-bottom: solid 2px #36332F;
    background-color: #24211C;
    color: #ffffff99;
  }

  &__examples-title {
    display: block;
    margin: 45px 0 10px;
    font-weight: var(--fw-600);
    color: #ffffff99;
    font-size: 15px;
  }
}
