%item-big-fruit-position {
  top: calc(50% - 35px);
  left: calc(50% - 30px);
}

%item-small-fruit-position {
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}

%items-position {
  .item__fruit_apple {
    position: absolute;
    @extend %item-big-fruit-position;
  }

  .item__fruit_orange {
    position: absolute;
    @extend %item-big-fruit-position;
  }

  .item__fruit_apple_small {
    position: absolute;
    @extend %item-small-fruit-position;
  }

  .item__fruit_orange_small {
    position: absolute;
    @extend %item-small-fruit-position;
  }

  .item__vegetable_pickle {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 10px);
  }

  .item__vegetable_pickle_small {
    position: absolute;
    top: calc(50% - 22px);
    left: calc(50% - 8px);
  }
}

%size-sm {
  height: 30px !important;
  width: 30px !important;
  border-width: 2px 4px 8px 4px !important;
}

.item {
  display: inline-block;
  position: relative;

  &__base {
    width: 100px;
    height: 100px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, .1);

    &_plate {
      background: white;
      border-bottom: solid 5px #DDD;
      border-radius: 100px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 65px;
        width: 65px;
        border-radius: 60px;
        border-top: solid 6px #CCC;
        opacity: .4;
        background: rgba(255, 255, 255, 1);
      }

      & {
        @extend %items-position;
      }

      & .item__fruit_orange:nth-child(2),
      .item__fruit_apple:nth-child(2) {
        top: -15px;
      }

      & .item__fruit_orange:nth-child(3),
      .item__fruit_apple:nth-child(3) {
        top: -43px;
      }

      & .item__fruit_orange_small:nth-child(2),
      .item__fruit_apple_small:nth-child(2) {
        top: 20px;
      }
    }

    &_bento {
      background: brown;
      border: solid 3px #711c12;
      border-width: 20px 2px;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border: solid 10px rgba(0, 0, 0, .1);
        border-width: 10px 0 0 0px;
      }

      & {
        @extend %items-position;
      }

      & .item__fruit_orange:nth-child(2),
      .item__fruit_apple:nth-child(2) {
        top: -15px;
      }

      & .item__fruit_orange:nth-child(3),
      .item__fruit_apple:nth-child(3) {
        top: -43px;
      }

      & .item__fruit_orange_small:nth-child(2),
      .item__fruit_apple_small:nth-child(2) {
        top: 20px;
      }
    }
  }

  &__fruit {
    border-radius: 100px;
    border-style: solid;
    border-width: 2px 4px 15px 4px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, .2);
    height: 60px;
    width: 60px;

    &_apple {
      background: #e41919;
      border-color: #ab1212;

      &_small {
        @extend %size-sm;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        background: rgba(255, 255, 255, .3);
        height: 30%;
        width: 30%;
        top: 0px;
        left: calc(50% - 15%);
        border-radius: 100px;
      }
    }

    &_orange {
      background: orange;
      border-color: #bd6e07;

      &_small {
        @extend %size-sm;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        background: rgba(255, 255, 255, .3);
        height: 30%;
        width: 30%;
        top: 0px;
        left: calc(50% - 15%);
        border-radius: 100px;
      }
    }

  }

  &__vegetable {
    &_pickle {
      background: #179837;
      width: 25px;
      height: 60px;
      border-radius: 30px;
      border: solid 2px #025a18;
      border-width: 2px 2px 9px 2px;
      box-shadow: 0px 5px 0px rgba(0, 0, 0, .2);

      &_small {
        height: 40px;
        width: 18px;
        border-width: 1px 2px 6px 2px;
      }
    }
  }
}
