.level-progress {
  background-color: #100e0b;
  height: 2px;

  &__progress {
    position: relative;
    height: 100%;
    background: #403e3c;
    transition: width .3s ease;

    &:after {
      content: "";
      position: absolute;
      height: 8px;
      width: 8px;
      border: solid 2px #2a231d;
      background-color: #888785;
      border-radius: 5px;
      right: -4px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
