.level {

  &:hover,
  &.active {
    background: rgba(255, 255, 255, .05);

    .level__link {
      color: #aaa;
    }
  }

  &__link {
    display: block;
    padding: 5px 12px 5px 22px;
    font-size: rem(16);
    color: #777;
  }

  &__checkmark {
    margin-right: 14px;
    top: -1px;
  }

  &__number {
    display: inline-block;
    min-width: 24px;
    opacity: .6;
  }
}
