.level-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #1b1813;
  transform: translateX(100%);
  transition: all .3s ease;
  overflow: auto;

  &.active {
    transform: translateX(0);
  }

  &__levels-list {
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__title {
    font-size: getRemFromPx(22);
    color: white;
    opacity: .4;
    font-weight: var(--fw-400);
    padding: 23px 0 14px 16px;
  }

  &__reset-btn {
    width: calc(100% - 40px);
    margin: auto auto 20px;
  }
}
