.markup {
  line-height: math.div(21, 14);
  font-size: getRemFromPx(14);
  color: rgba(255, 255, 255, .3);
  font-family: var(--fontFamilyMenlo);
  cursor: default;

  &>.markup__block {
    padding-left: 0;
  }

  &__block {
    padding-left: 20px;

    .hover * {
      color: #efefef;
    }
  }
}