.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all .3s ease 0s;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 52px;

    @media (max-width: getEmFromPx($breakpoint576)) {
      padding: 40px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    position: relative;

    @media (max-width: getEmFromPx($breakpoint768 + 0.02)) {
      max-width: 682px;
    }
  }

  &__content {
    width: 100%;
    max-width: 320px;
    padding: 15px;
    background-color: #1b1813;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__got-it-button {
    float: right;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
